# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependencies and build output
node_modules
dist
dist-ssr
build
tmp
.temp
.tmp

# Environment
.env
.env.development
.env.test
.env.production
.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
